<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="diff_drive_module_controller"
    params="namespace prefix name drive_pos">
    
    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>topic_based_ros2_control/TopicBasedSystem</plugin>
        <param name="joint_commands_topic">${namespace}/${drive_pos}drive_joint_commands</param>
        <param name="joint_states_topic">${namespace}/${drive_pos}drive_joint_states</param>
      </hardware>

      <joint name="${prefix}${drive_pos}drive_right_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
     
      <joint name="${prefix}${drive_pos}drive_left_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

    </ros2_control>

  </xacro:macro>

</robot>
