<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="wheelbot_serial_swerve_2bot_ros2_control"
    params="name prefix serial_port baudrate command_timeout_ms active_modules wheel_radius wheel_drive_len">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>bringup_mobile/WheelbotSerialHardware</plugin>
        <param name="serial_port">${serial_port}</param>
        <param name="baudrate">${baudrate}</param>
        <param name="command_timeout_ms">${command_timeout_ms}</param>
        <param name="active_modules">${active_modules}</param>
        <param name="wheel_radius">${wheel_radius}</param>
        <param name="wheel_drive_len">${wheel_drive_len}</param>
        <param name="steering_alignment_tolerance">0.08</param>
        <param name="use_common_speed_scale">true</param>
        <param name="zero_steering_when_stopped">true</param>
      </hardware>

      <joint name="${prefix}virtual_front_right_steering_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}virtual_front_right_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}virtual_front_left_steering_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}virtual_front_left_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}virtual_rear_right_steering_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}virtual_rear_right_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}virtual_rear_left_steering_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}virtual_rear_left_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>
  </xacro:macro>
</robot>
