<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="4ws4wd" >

<!-- robot name parameter -->
<xacro:arg name="name" default="4ws4wd"/>

<!-- import main macro -->
<xacro:include filename="$(find description)/urdf/mech/tricycle_chassis.urdf.xacro"/>
<xacro:include filename="$(find description)/urdf/robots/drive_module.urdf.xacro"/>

<xacro:include filename="$(find description)/ros2_control/4ws.ros2_control.xacro"/>
<xacro:include filename="$(find description)/meshes/materials.xacro"/>

<!-- parameters -->
<xacro:arg name="prefix" default="" />
<xacro:arg name="drive_pos" default="" />

<link name="base_link"/>

<xacro:tricycle_chassis
  name="$(arg name)"
  prefix="$(arg prefix)"
  parent="base_link" 
>
  <origin xyz="0 0 0" rpy="0 0 0" />          <!-- position robot in the world -->
</xacro:tricycle_chassis>

<xacro:drive_module
  name="$(arg name)"
  prefix="$(arg prefix)"
  parent="$(arg prefix)base_link"
  drive_pos="front_left_"
>
  <origin xyz="0.235 0.235 0.197" rpy="0 0 0"/>
</xacro:drive_module>

<xacro:drive_module
  name="$(arg name)"
  prefix="$(arg prefix)"
  parent="$(arg prefix)base_link"
  drive_pos="front_right_"
>
  <origin xyz="0.235 -0.235 0.197" rpy="0 0 0"/>
</xacro:drive_module>


<xacro:drive_module
  name="$(arg name)"
  prefix="$(arg prefix)"
  parent="$(arg prefix)base_link"
  drive_pos="rear_left_"
>
  <origin xyz="-0.235 0.235 0.197" rpy="0 0 0"/>
</xacro:drive_module>

<xacro:drive_module
  name="$(arg name)"
  prefix="$(arg prefix)"
  parent="$(arg prefix)base_link"
  drive_pos="rear_right_"
>
  <origin xyz="-0.235 -0.235 0.197" rpy="0 0 0"/>
</xacro:drive_module>


<!-- ros2_control
<xacro:4ws_ros2_control
  name="4ws_ros2_control"
  prefix="$(arg prefix)"
/>
-->

</robot>
