<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="wheelbot" >


<!-- import main macro -->
<xacro:include filename="$(find description)/meshes/materials.xacro" />
<xacro:include filename="$(find description)/urdf/properties/properties_swerveBOT.urdf.xacro"/>

<xacro:include filename="$(find description)/urdf/mech/chassis.urdf.xacro"/>
<xacro:include filename="$(find description)/urdf/mech/diff_drive_module.urdf.xacro"/>
<xacro:include filename="$(find description)/urdf/mech/virtual_swerve_module.urdf.xacro"/>
<xacro:include filename="$(find description)/urdf/mech/caster_wheel.urdf.xacro" />

<xacro:include filename="$(find description)/ros2_control/swerve.ros2_control.xacro" />
<xacro:include filename="$(find description)/ros2_control/drive_module.ros2_control.xacro" />

<xacro:include filename="$(find realsense2_description)/urdf/_d455.urdf.xacro"/>

<xacro:include filename="$(find ros_components_description)/urdf/intel_realsense_d435.urdf.xacro" ns="camera" />
<xacro:include filename="$(find ros_components_description)/urdf/slamtec_rplidar.urdf.xacro" ns="lidar" />

<!-- parameters -->
<xacro:arg name="name" default="swerveBOT" />
<xacro:arg name="namespace" default="robot1" />
<xacro:arg name="prefix" default="" />
<xacro:arg name="position_Z" default="${str(wheel_radius + base_height/2 + rulment_axial_height)}" />
<xacro:arg name="hw_interface_plugin" default="topic_based_ros2_control/TopicBasedSystem"/>

<link name="base_link"/>

<xacro:chassis 
  prefix="$(arg prefix)"
  parent="base_link"
  pos_z="${str(2*wheel_radius + base_height/2 + rulment_axial_height)}"
/>

<xacro:virtual_swerve_module
  prefix="$(arg prefix)"
  parent="chassis_link"
  pos_x="${str(base_width/2 -0.02)}"
  pos_y="${str(wheel_track/2)}"
  pos_z="$(arg position_Z)"
/>

<xacro:diff_drive_module  
  namespace="$(arg namespace)"
  prefix="$(arg prefix)"
  name="diffBOT_FR"
  parent="chassis_link"
  drive_pos="FR_"
  steering_pos="virtual_front_right"
>
  <origin xyz="${base_width/2 -0.02} -${wheel_track/2} -${base_height/2 + rulment_axial_height/2}" rpy="0 0 0"/>
</xacro:diff_drive_module>


<xacro:caster_wheel 
  namespace="$(arg namespace)"
  prefix="$(arg prefix)"
  side = "FL"
  mass="0.01"
  wheel_radius="${wheel_radius}" 
  parent="chassis_link"
  pos_x="${str(base_width/2 -0.02)}"
  pos_y="${str(wheel_track/2)}"
  pos_z="$(arg position_Z)" 
/>

<xacro:diff_drive_module
  namespace="$(arg namespace)"
  prefix="$(arg prefix)"
  name="diffBOT_RL"
  parent="chassis_link"
  drive_pos="RL_"
  steering_pos="virtual_rear_left"
>
  <origin xyz="-${base_width/2 -0.02} ${wheel_track/2} -${base_height/2 + rulment_axial_height/2}" rpy="0 0 0"/>
</xacro:diff_drive_module>

<xacro:caster_wheel 
  namespace="$(arg namespace)"
  prefix="$(arg prefix)"
  side = "RR"
  mass="0.01"
  wheel_radius="${wheel_radius}" 
  parent="chassis_link"
  pos_x="-${str(base_width/2 -0.02)}"
  pos_y="-${str(wheel_track/2)}"
  pos_z="$(arg position_Z)" 
/>

<xacro:camera.intel_realsense_d435
  namespace="$(arg namespace)"
  device_namespace="front_camera"
  parent_link="chassis_link"
  xyz="${str(base_width/2 + 0.015)} 0 0"
  rpy="0.0 0.0 0.0" />

<xacro:lidar.slamtec_rplidar
  namespace="$(arg namespace)"
  device_namespace="front_laser"
  model="a2m8"
  parent_link="chassis_link"
  xyz="${str(base_width/2 + 0.04)} 0 -0.060"
  rpy="0.0 0.0 0.0" />

<!-- ros2_control -->
<xacro:swerve_ros2_control
  name="$(arg name)"
  namespace="$(arg namespace)"
  prefix="$(arg prefix)"
  plugin="$(arg hw_interface_plugin)"
/>

</robot>
