<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="amr">
  <xacro:arg name="name" default="amr"/>

  <xacro:include filename="$(find description_mobile)/meshes/materials.xacro"/>
  <xacro:include filename="$(find description_mobile)/urdf/properties/properties_swerveBOT_510.urdf.xacro"/>
  <xacro:include filename="$(find description_mobile)/urdf/mech/chassis.urdf.xacro"/>
  <xacro:include filename="$(find description_mobile)/urdf/mech/stand.urdf.xacro"/>
  <xacro:include filename="$(find description_mobile)/urdf/mech/serial_diff_drive_module.urdf.xacro"/>
  <xacro:include filename="$(find description_mobile)/urdf/mech/virtual_swerve_module.urdf.xacro"/>
  <xacro:include filename="$(find description_mobile)/urdf/mech/rear_wheels.urdf.xacro"/>
  <xacro:include filename="$(find description_mobile)/urdf/sensors/imu.urdf.xacro"/>
  <xacro:include filename="$(find husarion_components_description)/urdf/slamtec_rplidar.urdf.xacro" ns="lidar"/>
  <xacro:include filename="$(find description_mobile)/ros2_control/wheelbot_serial_swerve_2bot.ros2_control.xacro"/>

  <xacro:macro name="wheelbot_serial_mobile_robot" params="
      namespace
      prefix
      position_Z
      serial_port
      baudrate
      command_timeout_ms
      active_modules
      imu_topic
      imu_frame_id">

    <link name="${prefix}base_footprint"/>

    <xacro:chassis
      prefix="${prefix}"
      parent="base_footprint"
      pos_z="${str(2*wheel_radius + base_height/2 + rulment_axial_height)}"
    />
    <!--
    <xacro:stand
      prefix="${prefix}"
      parent="chassis_link"
      base_height="${base_height}"
    />
    -->

    <xacro:imu prefix="${prefix}" parent="chassis_link" joint_name="imu_to_chassis_link">
      <origin xyz="${wheelbase/2 - 0.05 }  0 0.26" rpy="1.57 1.57 1.57"/>
    </xacro:imu>

    <xacro:lidar.slamtec_rplidar
      parent_link="${prefix}chassis_link"
      robot_namespace="${namespace}"
      component_name="front_lidar"
      model="a2m8"
      use_tf_prefix="False"
      xyz="${str(base_length/2 - 0.0)} 0 -0.05"
      rpy="0.0 0.0 0.0"
    />

    <xacro:virtual_swerve_module
      prefix="${prefix}"
      parent="${prefix}chassis_link"
      pos_x="${str(wheelbase/2)}"
      pos_y="${str(wheel_track/2)}"
      pos_z="${position_Z}"
    />

    <xacro:serial_diff_drive_module
      namespace="${namespace}"
      prefix="${prefix}"
      name="diffBOT_FR"
      parent="${prefix}chassis_link"
      drive_pos="FR_"
      steering_pos="virtual_front_right">
      <origin xyz="${wheelbase/2} -${wheel_track/2} -${base_height/2 + rulment_axial_height/2}" rpy="0 0 0"/>
    </xacro:serial_diff_drive_module>

    <xacro:serial_diff_drive_module
      namespace="${namespace}"
      prefix="${prefix}"
      name="diffBOT_RL"
      parent="${prefix}chassis_link"
      drive_pos="RL_"
      steering_pos="virtual_rear_left"
      steering_mimic_offset="-${PI}">
      <origin xyz="-${wheelbase/2} ${wheel_track/2} -${base_height/2 + rulment_axial_height/2}" rpy="0 0 ${PI}"/>
    </xacro:serial_diff_drive_module>

    <xacro:wheelbot_serial_swerve_2bot_ros2_control
      name="$(arg name)"
      prefix="${prefix}"
      serial_port="${serial_port}"
      baudrate="${baudrate}"
      command_timeout_ms="${command_timeout_ms}"
      active_modules="${active_modules}"
      wheel_radius="${wheel_radius}"
      wheel_drive_len="0.23"
      imu_topic="${imu_topic}"
      imu_frame_id="${imu_frame_id}"
    />
  </xacro:macro>
</robot>
