<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="tricycle" >

<!-- robot name parameter -->
<xacro:arg name="name" default="tricycle"/>

<!-- import main macro -->
<xacro:include filename="$(find description)/urdf/mech/tricycle_chassis.urdf.xacro"/>
<xacro:include filename="$(find description)/urdf/robots/drive_module.urdf.xacro"/>

<xacro:include filename="$(find description)/ros2_control/tricycle.ros2_control.xacro" />
<xacro:include filename="$(find description)/meshes/materials.xacro" />

<!-- parameters -->
<xacro:arg name="prefix" default="" />
<xacro:arg name="drive_pos" default="front_center_" />

<link name="base_link"/>

<xacro:tricycle_chassis
  name="$(arg name)"
  prefix="$(arg prefix)"
  parent="base_link" 
>
  <origin xyz="0 0 0" rpy="0 0 0" />          <!-- position robot in the world -->
</xacro:tricycle_chassis>

<xacro:drive_module
  name="$(arg name)"
  prefix="$(arg prefix)"
  parent="base_link"
  drive_pos="front_center_"
>
  <origin xyz="0.235 0.0 0.197" rpy="0 0 0"/>
</xacro:drive_module>


<!-- comment -->
<xacro:tricycle_ros2_control
  name="tricycle_ros2_control"
  prefix="$(arg prefix)"
  drive_pos="front_center_"
/>


</robot>
