*

build/
install/
log/
DEBUG/

!Dockerfile.template
!docker-compose.yml
!balena/
!balena/**
!src/
!src/mobile_robot/
!src/mobile_robot/bringup_mobile/**
!src/mobile_robot/description_mobile/**
!src/wheelbot_ros2_controllers/
!src/wheelbot_ros2_controllers/swerve_drive_controller/**
!src/teleop_ws/
!src/teleop_ws/twist_mux/**

**/.git/
**/.vscode/
**/__pycache__/
**/*.pyc
*.bag
*.mcap
