[submodule "src/manipulator/ur_description"]
	path = src/manipulator/ur_description
	url = https://github.com/wheelbot-tech/Universal_Robots_ROS2_Description.git
	branch = humble
[submodule "src/topic_based_ros2_control"]
	path = src/topic_based_ros2_control
	url = https://github.com/wheelbot-tech/topic_based_ros2_control
	branch = wheelbot-fix
[submodule "src/teleop_ws/twist_mux"]
	path = src/teleop_ws/twist_mux
	url = https://github.com/wheelbot-tech/twist_mux
	branch = rolling
[submodule "src/sensors/rplidar_ros"]
	path = src/sensors/rplidar_ros
	url = https://github.com/wheelbot-tech/rplidar_ros
	branch = ros2
[submodule "src/husarion_components_description"]
	path = src/husarion_components_description
	url = https://github.com/wheelbot-tech/husarion_components_description.git
[submodule "src/wheelbot_ros2_controllers"]
	path = src/wheelbot_ros2_controllers
	url = https://github.com/wheelbot-tech/ros2_controllers_by_nitin2606.git
	branch = feature/swerve-drive-controller
