[submodule "src/manipulator/ur_description"]
	path = src/manipulator/ur_description
	url = https://github.com/GeorgeNegret/Universal_Robots_ROS2_Description.git
	branch = humble
[submodule "topic_based_ros2_control"]
	path = topic_based_ros2_control
	url = https://github.com/GeorgeNegret/topic_based_ros2_control
[submodule "src/topic_based_ros2_control"]
	path = src/topic_based_ros2_control
	url = htps://github.com/GeorgeNegret/topic_based_ros2_control
[submodule "src/mobile_robot/teleop_ws/twist_mux"]
	path = src/mobile_robot/teleop_ws/twist_mux
	url = https://github.com/GeorgeNegret/twist_mux.git
	branch = humble
