<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="mobile_manipulator">

  <!-- robot name parameter -->
  <xacro:arg name="name" default="ur"/>
  <!-- parameters -->
  <xacro:arg name="prefix" default="" />

  <xacro:include filename="$(find mm_moveit_config)/srdf/mobile_manipulator_macro.srdf.xacro"/>

  <xacro:mobile_manipulator_srdf name="$(arg name)" prefix="$(arg prefix)"/>

</robot>
