<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="stand" params="
        prefix parent
        base_height"
    >

     <link name="${prefix}stand_link">
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="${stand_length} ${stand_width} ${stand_height}"/>
            </geometry>
        </collision>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="${stand_length} ${stand_width} ${stand_height}"/>
            </geometry>
            <material name="PETG_orange"/>
        </visual>

        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="${base_mass}"/>
            <inertia
                ixx="0.000270" ixy="0.0" ixz="0.0"
                iyy="0.000270" iyz="0.0"
                izz="0.000426"/>
            </inertial>
     </link>

     <joint name="${prefix}stand_joint" type="fixed">
        <parent link="${prefix}${parent}"/>
        <child link="${prefix}stand_link"/>
        <origin xyz="0 0 ${str(base_height/2 + 0.20)}" rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        <dynamics damping="0.2"/>
     </joint>

    </xacro:macro>
</robot>
